<div class="container" style="min-height: 450px; padding-top: 15px;">
  <%= render :partial => "appraiser_dashboard_navtabs" %>
  <%= render :partial => "/appraisals/appraisal_table", :locals => {:appraisals => @appraisals}%> 
</div>
