<% can_tag ||= can_tag.nil?
   can_delete ||= can_delete.nil?
   can_upload ||= can_upload.nil? %>
<!-- Multiple image uploads -->
<form id="fileupload" action="<%= appraisal_photos_path(@appraisal) %>" method="POST" enctype="multipart/form-data">
  <div class="container">
    <div class="row">
      <h4 style="text-align: center;">Upload Images Of The Item Being Appraised</h4>
      <h6 style="text-align: center;">Images are not always necessary to appraise merchandise but are extremely helpful.<br>Please upload any images you have now.</h6>
    </div>
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
      <div class="span7">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <% if can_upload %>
        <span class="btn btn-success fileinput-button" style="height: 20px; margin-top: 0px;margin-right: 3px;">
          <i class="icon-plus"></i>
          <span>Add files...</span>
          <input type="file" name="photo[asset]" multiple>
        </span>
        <button type="submit" class="btn btn-success start">
          <i class="icon-upload"></i>
          <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-warning cancel">
          <i class="icon-ban-circle"></i>
          <span>Cancel upload</span>
        </button>
        <% end %>
        <% if can_delete %>
        <button type="button" class="btn btn-danger delete">
          <i class="icon-trash"></i>
          <span>Delete</span>
        </button>
        <% end %>
      </div>
      <div class="span5">
        <!-- The global progress bar -->
        <div class="progress progress-success progress-striped active fade">
          <div class="bar" style="width:0%;"></div>
        </div>
      </div>
    </div>
    <!-- The loading indicator is shown during image processing -->
    <div class="fileupload-loading"></div>
    <br>
    <!-- The table listing the files available for upload/download -->
    <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
  </div>
</form>


<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
      <td class="preview"><span class="fade"></span></td>
      <td class="name"><span>{%=file.name%}</span></td>
      <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
      {% if (file.error) { %}
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
        <td>
          <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
        </td>
        <td class="start">{% if (!o.options.autoUpload) { %}
          <button class="btn btn-success">
            <i class="icon-upload icon-white"></i>
            <span>{%=locale.fileupload.start%}</span>
          </button>
          {% } %}</td>
        {% } else { %}
        <td colspan="2"></td>
        {% } %}
      <td class="cancel">{% if (!i) { %}
        <button class="fileupload-buttonbar btn">
          <i class="icon-ban-circle"></i>
          <span>{%=locale.fileupload.cancel%}</span>
        </button>
        {% } %}</td>
    </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
      {% if (file.error) { %}
        <td></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
        <td class="preview">{% if (file.thumbnail_url) { %}
          <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img class="tagThumb" src="{%=file.thumbnail_url%}"></a>
          {% } %}</td>
        <td class="name">
          <a href="{%=file.url%}" title="{%=file.file_file_name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
        </td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td colspan="2">
        <% if can_tag %>
        <a href="{%=file.tag_url%}" class="btn btn-success" target="_blank"><i class="icon-tag icon-white"></i> Tag</a><% end %> </td>
        {% } %}
      <td class="delete">
        <% if can_delete %>
        <button class="fileupload-buttonbar btn" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
          <i class="icon-trash"></i>
          <span>{%=locale.fileupload.destroy%}</span>
        </button>
        <% end %>
        
      </td>
    </tr>
    {% } %}
</script>
