<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4><%= @user.name %>, lets get your items valued!</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% if @appraisals.empty?
           btnText, btnClass = "Get an item evaluated","btn btn-success btnAddNewItem"
      else
        btnText, btnClass = "Add an additional item for appraisal", "btn btn-success pull-right"
      end %>
    <%= link_to btnText, appraisal_build_index_path(appraisal_id: 'building'), method: :post,  :class => btnClass %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% unless @appraisals.empty? %>
      <h2>What you entered so far:</h2>
      <%= render :partial => 'appraisals/partials/appraisal_table_for_users', locals: {appraisals: @appraisals} %>
    <% end %>
  </div>
</div>
</div>
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "e499a8d7-42db-4445-9636-9141483d9fbe"});</script>
<% #TODO Move this into CoffeeScript file
  %>
<script type="text/javascript">
  var selectedAppraisal;
function myCallbackFunction (event,service)
{
  $.ajax({
url: "<%= url_for share_appraisal_path %>.json",
type: 'post',
dataType: 'script',
data: { 'appraisal_id': selectedAppraisal },
success: function() {
}
});
}
stLight.subscribe("click",myCallbackFunction); //register the callback function with sharethis
</script>

