<%= render :partial => "includes_for_photo_upload"%>
<div class="row">
	<h4>Step 2 - Upload Photos</h4>
	<h5>You must upload at least one image of the item being appraised</h5>
</div>
<div class="container">
	<div class="row sub_box">
		<%= render  :partial => "multiple_photo_upload" %>
		<div class="form-actions">
			<% if @appraisal.status == EActivityValueCreated %>
			<% @payment = Payment.new %>
			<%= link_to 'Save & Continue', wizard_categories_path(:appraisal_id => @appraisal), :class => "btn btn-success pull-right" %>
			<% end %>
		</div>
	</div>
</div>
