<%= render :partial => "includes_for_photo_upload"%>
<div class="row">
	<h4>Step 2 - Upload Photos</h4>
	<h5>Upload as many images as you like. Front, back, sides, close-ups of maker's marks and inscriptions are all helpful</h5>
</div>
<div class="container">
	<div class="row sub_box">
		<%= render  :partial => "multiple_photo_upload" %>
		<div class="form-actions">
			<% if @appraisal.status == EActivityValueCreated %>
			<% @payment = Payment.new %>
			<%= link_to 'Save & Continue', wizard_categories_path(:appraisal_id => @appraisal), :class => "btn btn-success pull-right", :id => "btn_step_2_wizard_image_upload" %>
			<% end %>
		</div>
	</div>
</div>
