.bg {
	background:#FFF;
}
@import url(http://fonts.googleapis.com/css?family=Crete+Round);
 @font-face {
 font-family: 'HelveticaNeueLTStd-Md';
 src: url('https://s3.amazonaws.com/vtn.assets.valuethisnow.com/fonts/helveticaneueltstdmd0.eot');
 src: url('https://s3.amazonaws.com/vtn.assets.valuethisnow.com/fonts/helveticaneueltstdmd0.eot?#iefix') format('embedded-opentype'),  url('https://s3.amazonaws.com/vtn.assets.valuethisnow.com/fonts/helveticaneueltstdmd0.woff') format('woff'),  url('https://s3.amazonaws.com/vtn.assets.valuethisnow.com/fonts/helveticaneueltstdmd0.ttf') format('truetype'),  url('https://s3.amazonaws.com/vtn.assets.valuethisnow.com/fonts/helveticaneueltstdmd0.svg#helveticaneueltstdmd0') format('svg');
 font-weight: normal;
 font-style: normal;
}
nav ul li a, footer p, .left_side h3, .right_side h1 {
	font-family: 'HelveticaNeueLTStd-Md';
	font-weight: normal;
}
a, img, ul, li {
	margin:0px;
	padding:0px;
	list-style:none;
	border:none;
	text-decoration:none;
}
.right_side .btn, .about .btn, .comment-form button {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}
.right_side p, .right_side .tag a, .right_side .tag, .sidebar form input, .sidebar, .sidebar .heading, .heading h4, .about p, .category h4, .category p, .category ul li a, #scroller-header a, .tabbing-content li, .twitter .heading h4, .comment-form label, .comment-form input {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
}
.left_side h2, .left_side .comment, .right_side .tag h5, .comment-form h1 {
	font-family: 'Crete Round', serif;
	font-weight:normal;
}
.container-description:after, .content-certificate:after, footer:after, .left_blog .post:after, .text-spacing:after, .sidebar .about:after, .heading:after {
	visibility:hidden;
	display:block;
	clear:both;
	font-size:0px;
	line-height:0px;
	height:0px;
	content:'.';
}
.clear {
	clear:both;
}
/**main css**/

header {
	margin:0px auto;
	padding:0px;
	background:url(/images/header.png) repeat-x;
	height:128px;
	width:100%;
	-webkit-box-shadow: -2px 3px 5px rgba(50, 50, 50, 0.45);
	-moz-box-shadow: -2px 3px 5px rgba(50, 50, 50, 0.45);
	box-shadow: -2px 3px 5px rgba(50, 50, 50, 0.45);
}
hgroup {
	margin:0px auto;
	padding:0px;
	width:960px;
}
hgroup .logo {
	margin:0px;
	padding:0px;
	float:left;
}
hgroup nav {
	margin:53px 0 0 17px;
	padding:0px;
	float:left;
}
hgroup nav ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
hgroup nav ul li {
	margin:0px;
	padding:0px;
	border-right:1px solid #292828;
	float:left
}
hgroup nav ul li.last {
	border:none;
}
hgroup nav ul li a {
	margin:0px;
	padding:0px 10px;
	font-size:14px;
	color:#292828;
}
.container {
	margin:0px auto;
	padding:0px;
	clear:both;
	width:960px;
}
footer {
	margin:0px;
	margin-top:50px;
	padding:0px;
	width:100%;
	height:110px;
	background:#282727;
	clear:both;
}
/**bed**/

.container-description {
	margin: 0px;
}
.container-description h1 {
	color: #000000;
	font-size: 24px;
	font-weight:100;
	margin: 0;
	padding: 1% 0 1% 1%;
	background:#b2a9a4;
	text-align:left;
	width:99%;
}
.container-description p {
	margin:0px;
	padding:10px 0 0 10px;
	font-size:20px;
	color:#000;
	clear:both
}
.container-description a {
	margin:25px 0 10px 0;
	padding:0px;
	font-size:20px;
	color:#000;
	float:right;
	font-style:normal;
	text-decoration:none;
}
.signature {
	margin-top:12px !important;
}
.site-lnk {
	font-size:34px !important;
	color:#0081fa !important;
	text-align:center;
	font-weight:400 !important;
	text-decoration:none !important;
	font-style:normal !important;
}
.left-404 {
	margin:0px;
	padding:0px;
	float:left;
	width:560px;
}
.left-404 img {
	margin:0px;
	padding:0px;
}
.right-404 {
	margin:0px;
	padding:0px;
	float:right;
	width:400px;
}
.right-404 h1 {
	margin:70px 0 0 0;
	padding:0px;
	font-size:70px;
	color:#2a2e31;
	font-weight:100;
}
.right-404 h2 {
	margin:0px;
	padding:0px;
	color:#2a2e31;
	font-size:56px;
	font-weight:100;
	line-height:55px;
}
.right-404 h2 span {
	margin:0px;
	padding:0px;
	color:#93b328;
	font-size:90px;
}
.right-404 p {
	margin:40px 0 0 10px;
	padding:0px;
	color:#2a2e31;
	font-size:14px;
	width:410px;
	line-height:18px;
}
.right-404 p a {
	color:#708c14;
	text-decoration:none;
	display:inline;
}
footer .fcontainer {
	margin:0px auto;
	width:960px;
}
footer nav {
	margin:20px 0 0 15px;
	padding:0px;
	float:left;
}
footer nav ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
footer nav ul li {
	margin:0px;
	padding:0px;
	border-right:1px solid #FFF;
	float:left
}
footer nav ul li.last {
	border:none;
}
footer nav ul li a {
	margin:0px;
	padding:0px 10px;
	font-size:14px;
	color:#FFF;
}
footer p {
	margin:00px 0 0 25px;
	padding:10px 0 0 0;
	font-size:12px;
	color:#949393;
	clear:both
}
footer p a{
	color:#949393;
	text-decoration:none;
}
footer p a:hover{
	color:#93b328;
	text-decoration:none;
}
/**02-04-2013**/


.container .left_blog {
	margin:0px;
	padding:0px;
	width:625px;
	float:left;
	padding-bottom:70px;
}
.left_blog .post {
	margin:0 0 25px 0;
	padding:0 0 25px 0;
	border-bottom:#93b328 solid 8px;
}
.post .left_side {
	float:left;
}
.left_side a {
	margin:0px;
	padding:0px;
}
.left_side h2 {
	margin:0px;
	padding:0px;
	font-size:24px;
	color:#010101;
	text-align:center;
}
.left_side h3 {
	margin:0px;
	padding:0px;
	font-size:40px;
	color:#4c4c4c;
	text-align:center;
	line-height:30px;
}
.left_side h3 span {
	font-size:20px;
	margin:0px;
	padding:0px;
}
.left_side .comment {
	background:url(/images/comment.png) no-repeat;
	width:55px;
	height:52px;
	text-align:center;
	font-size:23px;
	color:#FFF;
	padding:4px 0 0 0;
	margin:10px 0 0 0;
}
.comment a {
	color:#FFF;
}
.left_blog .right_side {
	float:right;
	width:520px;
}
.right_side h1 {
	color:#0c0c0c;
	font-size:32px;
	margin:0px;
	padding:0px;
	text-transform:uppercase;
	line-height:30px;
}
.right_side h1 a {
	color:#0c0c0c;
}
.right_side p {
	font-size:13px;
	color:#292929;
	margin:4px 1px;
	padding:0px;
	line-height:20px;
}
.right_side p span {
	color:#536c00;
}
.right_side .post_img {
	margin:0 0 10px 0;
	padding:0px;
	clear:both;
}
.post_descr {
	line-height:40px !important;
}
.text-spacing {
	padding-top:20px !important;
}
.right_side .tag {
	margin:25px 0;
	padding:0px;
	font-size:13px;
}
.right_side .tag h5 {
	margin:0px;
	padding:0 8px 0 0;
	color:#000;
	font-size:16px;
	display:inline;
	float:left;
}
.right_side .tag a {
	color:#000;
	font-size:13px;
	display:inline-block;
	padding:3px 1px;
}
.right_side .btn {
	margin:0px;
	padding:5px 10px;
	font-size:15px;
	color:#FFF;
	float:left;
}
.right_side .btn:hover {
}
.right_side ul {
	list-style:none;
	margin:0px;
	padding:0px;
	float:right;
}
.right_side ul li {
	float:left;
	margin:0px;
	padding:5px 8px 0
}

.left_blog .pagination{margin:0px auto; padding:0px; width:250px; }
.pagination a.arrow{text-transform:uppercase; color:#959191; font-size:15px; font-family:Arial, Helvetica, sans-serif; float:left; margin:0; padding:2px 10px; display:inline-block;}
.pagination ul{margin:0px; padding:0px; list-style:none;}
.pagination ul li{margin:0 5px; padding:0px; float:left;}
.pagination ul li a{width:12px; height:12px; background:#c1c1c1;-webkit-border-radius: 10px;
-moz-border-radius: 10px; behavior: url(PIE.htc); position:relative;
border-radius: 10px; display:inline-block; }
.pagination ul li a:hover{background:#759801;}
.pagination ul li a.selected{background:#759801; width:15px; height:15px; -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; margin-top:2px;}

.sidebar {
	margin:0px;
	padding:0 0 0 50px;
	float:right;
	width:270px;
	background:url(/images/sidebar-bg.png) no-repeat left bottom;
	padding-bottom:140px;
}
.sidebar form {
	margin:0px;
	padding:0px;
}
.sidebar form input {
	margin:0px;
	padding:0 5px;
	border:1px solid #e3e3e3;
	width:215px;
	background:#FFF;
	height:33px;
	color:#aeaeae;
	float:left;
}
.sidebar form input[type="button"] {
	background:#93b328 url(/images/search.png) no-repeat;
	border:none;
	width:40px;
	height:35px;
	cursor:pointer;
}
.sidebar .about {
	margin:0;
	padding:1px 0 0;
	clear:both;
}
.about .heading {
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	margin:0px;
	padding:0px;
}
.about .heading h4 {
	font-size:18px;
	color:#000;
	text-transform:uppercase;
	line-height:14px;
	padding:6px 6px;
	margin:10px 0;
}
.about p {
	color:#000;
	font-size:13px;
	line-height:18px;
}
.about .btn {
	margin:0px;
	padding:5px 10px;
	font-size:15px;
	color:#FFF;
	float:left;
}
.about .btn:hover {
}
.sidebar .category {
	margin:0
	padding:18px 0 0;
	clear:both;
}
.category .heading {
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	margin:0px;
	padding:0px;
}
.category .heading h4 {
	font-size:18px;
	color:#000;
	text-transform:uppercase;
	line-height:14px;
	padding:6px 6px;
	margin:10px 0;
	display:inline-block;
	float:left;
}
.category .heading .rss {
	float:right;
	padding:11px;
}
.category ul {
	list-style:none;
	border:none;
	outline:none;
	margin:0;
	padding:0 2%;
	width:46%;
	float:left;
}
.category ul li {
	margin:15px 0;
	padding:0px;
	clear:both;
}
.category ul li a {
	margin:0px;
	padding:0px;
	font-size:13px;
	color:#000;
}
.category ul li a span {
	color:#536c00;
}
.sidebar .tabb {
	margin:0;
	padding:18px 0 0;
	clear:both;
}
.tabb .heading {
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	margin:0px;
	padding:4px 0;
}
#scroller-header a {
	text-decoration:none;
	color:#000000;
	padding:8px 8px;
	font-size:18px;
	display:inline-block;
	font-weight:100;
}
#scroller-header a:hover {
	text-decoration:none;
	color:#4b412f
}
a.selected {
	color:#93b328 !important;
}
#scroller-header {
	width:100%;
}
#scroller-body {
	width:100%;
	padding-bottom:30px;
}
#mask {
	width:250px;
	overflow:hidden;
	margin:0 auto;
}
.panel-2 {
	margin:0 10px;
	border-left:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
}
#panel div {
	float:left;
}
.tabbing-content li {
	margin:0px;
	padding:0px;
	border-bottom:1px solid #e3e3e3;
	font-size:13px;
	color:#4c4c4c;
	padding:5px 0;
	line-height:16px;
}
.tabbing-content li.last {
	border:none;
}


.sidebar .twitter {
	margin:0;
	padding:18px 0 0;
	clear:both;
}
.twitter .heading {
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	margin:0px;
	padding:0px;
}


.twitter .heading h4 {
	font-size:18px;
	color:#000;
	text-transform:uppercase;
	
	line-height:14px;
	padding:6px 0 6px 0;
	margin:10px 0 10px 75px;
	display:inline-block;
	float:left;
}
.twitter .heading img{  left: 66%;
    margin-top: -6px;
    position: absolute; }

.twitter .heading  a{float:right; margin:0px; padding:16px 0 0 0;}
.twitter .heading  a img{position:static;}

.feed{margin-top:10px;}


.comment-form{margin:0px; padding:0px;}
.comment-form h1{margin:0 0 20px 0; padding:0 0 10px 0; font-size:26px; color:#000; font-weight:normal; border-bottom:1px solid #e3e3e3;}

.comment-form label{margin:0px; padding:0 5px; font-size:16px; color:#000; clear:both; display:block; line-height:22px;}
.comment-form input{margin:0 0 20px 0; padding:0 5px; background:#f1f1f1; color:#414141; font-size:15px; font-weight:normal; width:275px; height:34px; border:none; clear:both;}
.comment-form textarea{margin:0 0 20px 0; padding:5px 5px; background:#f1f1f1; color:#414141; font-size:15px; font-weight:normal; max-width:325px; min-width:325px; min-height:104px; border:none; clear:both; font-family:Arial, Helvetica, sans-serif; }
.comment-form button{margin:0px; padding:5px 10px; background:#000000; color:#FFF; font-size:18px; font-style:italic; cursor:pointer; clear:both; border:none; display:block;}

h1#body_content_title {
  margin-bottom: 25px;
}
