%html
  %body
    %p Hi #{@appraisal.owned_by.name}, the Appraisal for your item has been updated!
    %p= @appraisal.title
    %p Please take a moment to view the updated appraisal at the following link
    %p= link_to("View Appraisal", appraisal_url(@appraisal)) + " | " + link_to("Create New Appraisal", new_appraisal_url)