Dear <%= @message.name %>,

<%
content = get_cms_content(@status == EAUserStatusConfirmed ? '/appraiser-approved' : '/appraiser-rejected')
content = content.gsub("[%additional_comments%]",@additional_comments) 

reasons = []
if @status == EAUserStatusRejected and !@rejection_reasons.nil?
	reasonsHash = Hash["incomplete" => "Your application was incomplete", "references" => "We were unable to confirm your references", "experience" => "You do not have sufficient years of market related experience"]
	reasons = @rejection_reasons.map {|x| "<li>#{reasonsHash[x]}</li>"}
end
content = content.gsub("[%rejection_reasons%]","<ul>#{reasons.join(' ')}</ul>")
%>
<%= raw "#{content}" %>
