<html>
  <body>
    <p>
      An assignment has been sent to your inbox, please login to 
      <%= link_to "ValueThisNow.com", root_url %>
      when you have a moment complete this appraisal.  
      <br>
      If you do not wish to do this assignment please inform <b>ValueThisNow.com</b> admin.
    </p>
  </body>
</html>