%html
  %body
    %p= get_cms_content("/new-referral-appraisal")
    %p If you would like to take a look at the following appraisal, please click the following link
    %p= link_to("View Appraisal", appraisal_url(@appraisal)) + " | " + link_to("View All Available Appraisals", appraisals_url)
