<% # TODO Find a better place to store this monkeypatch
  def wizard_path(goto_step = nil, options = {})
    options = { :controller => :appraiser_steps,
                :action     => 'show',
                :id         => goto_step || params[:id],
                :only_path  => true
               }.merge options
    url_for(options)
  end %>
  <% if current_user.is_customer? %>
  	<%= render :partial => "appraiser_steps/user_tabs" %>
  <% elsif current_user.is_appraiser? && current_user.is_confirmed? %>
	<%= render :partial => "appraiser_steps/confirmed_appraiser_tabs" %>
  <% elsif current_user.is_appraiser? && current_user.is_rejected? %>
  <div class="alert alert-notice">
    <i class="icon-warning-sign"></i>  <strong>NOTICE:</strong> Your application to become an appraiser was rejected. Please contact our administrator for further information.
</div>
  <% else %>
	<%= render :partial => "appraiser_steps/pending_appraiser_tabs" %>
<% end %>
<br>