<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="big-title">
      Account
    </div>
    <%= render :partial => "appraiser_tabs" %>
    The following documents are available for download:
    <ul>
      <li> <%= link_to 'Appraisal Provider Agreement', appraisal_provider_agreement_path, :target => "_blank" %></li>
      <li><%= link_to 'Appraiser Code of Ethics', ethics_path, :target => "_blank" %></li>
    </ul>
  </div>
</div>
