%h1 What We Value:
%p Our team of experts evaluates items in over 700 specialist categories
Our aim is to provide you with professional and informed valuations and appraisals of your items. We evaluate items which we have divided into 700 different categories and for each collecting field we are adding dedicated experts, in some cases, more than one. Colosses provides valuations and appraisals for almost anything including coins, old bottles, novelty items, sports cards, sports memorabilia, painting valuations, furniture valuations, stamp valuations, old china, antiques kitchen appliances and so much more. Some of our experts have worked in the appraisal industry for years, others are members of collector clubs specializing in a wide variety of merchandise and others and hobbyist who are considered subject matter experts in their field of expertise.  
%p In addition to our expert team we have many contacts covering various areas of expertise, which enable us to provide you with an accurate identification of your objects and a valuation based on their experience and knowledge of current auction prices. As we don’t buy or sell any items, our valuations are completely unbiased and objective.
%p Rest assured, all data and images that you send to us will be kept secure and treated with the utmost discretion and confidentiality. There are certain items we do not value, for more information on this visit our miscellaneous page.
%p To get started simply select your preferred category below to find out more information about the category itself and further information regarding our specialist expert for your chosen category.
%ul
	%li Watches
	%li Antique Guns
	%li Coins
	%li Vintage
	%li Old Books
	%li Antique Appliances
	%li Old Presses
	%li Sporting Equipment
	%li Stamps
	%li Old Bottles
	%li Old Furniture
	%li Playing Cards