<div class="page-header">
<h1>Appraiser Code of Ethics</h1>
</div>
<h2>Appraisers:</h2>
<ul>
  <li>SHALL always conduct himself or herself in a responsible and professional manner and use fair and equitable business practices when rendering appraisal services; </li>
  <li> SHALL encourage and promote the highest level of ethical and professional conduct within the appraisal profession; </li>
  <li> SHALL strive to maintain proficiency by updating his or her knowledge of appraisal fundamentals and product knowledge;</li>
  <li> SHALL not perform in a criminal manner or perform unethical acts which would discredit the profession;</li>
  <li> SHALL recognize and discharge his or her responsibility to uphold all laws and regulations including those governing the policies and activities of the appraisal profession and the appraisal assignment at hand; </li>
  <li> SHALL not engage in criminal conduct; </li>
  <li> SHALL offer opinions which are objective, impartial and unbiased; </li>
  <li> SHALL decline those assignments in which the appraiser has a bias towards the client or towards the property being appraised; </li>
  <li> SHALL undertake only those assignments for which he or she is competent by virtue of his or her knowledge, training and experience; </li>
  <li> SHALL have no undisclosed past, present or contemplated future financial interest in the property that is the subject of the appraisal report, and no undisclosed personal interest with respect to the parties involved; SHALL not offer to purchase the property they are appraising;</li>
  <li> SHALL maintain and preserve the confidential nature of the appraiser/client relationship; and SHALL protect to the fullest extent possible, consistent with the well-being of the public, any information given in confidence by a client; </li>
  <li> SHALL not accept an assignment that includes the reporting of predetermined opinions or conclusions; </li>
  <li> SHALL not advocate the cause or interest of any party or issue; </li>
  <li> SHALL not communicate assignment results with the intent to mislead of to defraud, or permit others to do so; </li>
  <li> SHALL not accept a fee that is contingent on his or her opinion of value; </li>
  <li> SHALL not communicate assignment results in a misleading or fraudulent manner; </li>
  <li> SHALL not perform an assignment in a grossly negligent manner;</li>
  <li> SHALL make him or herself reasonably available during all stages of the appraisal process.</li>
</ul>
<p><strong>Enforcement/Discipline:</strong></p>
<p>When submitted in writing, claims of violations of these Code of Ethics shall be fully investigated. Violations could result in the appraiser being dismissed as an online appraiser from  www.ValueMyTreasure.com.</p>
