.exclusions
%h1 Are there any items we don't value or appraise?
Yes there are indeed. Due to strict diligence and keeping ethical working standards, we DON'T VALUE: 
%ul 
	%li Machinery
	%li Live Animals or dead animals and or animal parts
	%li Second Hand Clothes and shoes
	%li Jewelry 
	%li Soft Furnishings
	%li Any type of illegal contraband 
	%li Motorized vehicles 
	%li Homes
