<center>
  <div class="contentBlock">
    <div class="formTop">
      <span class="title41">How it works</span>
    </div>
    <div class="row sub_box">
      <div class="span12">
        <% if @role == "consumer" %>
          <%= raw "#{Cms::Page.find_by_full_path('/how-it-works-consumers').content}" %>
      <% elsif @role == "appraiser" %>
          <%= raw "#{Cms::Page.find_by_full_path('/how-it-works-appraisers').content}" %>
      <% else %>
          <div class="row-fluid">
          <div class="span5">
            <%= link_to 'For Consumers', how_path(:role => "consumer"), :class => "btn btn-success btn-large" %>
          </div>
          <div class="span2">
            &nbsp;
          </div>
          <div class="span5">
            <%= link_to 'For Appraisers', how_path(:role => "appraiser"), :class => "btn btn-success btn-large" %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</center>
