- if @role == "consumer"
	%p TreasureSeekers.com is the world largest open enrollment social appraisal to auction platform in the world.  Our network acts as a platform that brings highly qualified personal property appraisers together with consumers in one central location to give you the quickest and most accurate personal property appraisal available anywhere on the internet today.  Once you have appraised your merchandise we can provide you one of the following:
	%ol
		%li An opinion of authenticity
		%li An opinion of value from a subject matter expert
		%li An opinion of value written to the standards of the USPAP.
	%p We will also provide you with some important information about your property and some convenient ways that you can sell your merchandise online to consumers or collectors, the process is fun and easy.  To get your results and find out what kind of hidden treasure you might have laying around just follow the following steps: 

	%p Here’s how to get started: 
	%ul
		%li First - you’ll need at least one digital picture of your merchandise taken with cell phone or digital camera.  For the best results we recommend 2 or more pictures when ever possible.
		%li Second - you’ll need to create a brief description of what you have or what you think you have and answer a few quick questions.
		%li Third - you’ll need to submit your merchandise into our system.
		%li If you don’t already have an account with Colosses you’ll need to do this as a final step before your merchandise can be submitted.
		%li Your results will usually be delivered within 24 hours and have receipt from one of our highly qualified personal property appraisers to prove your valuation.

	%p Good luck and happy Treasure Hunting!
- elsif @role == "appraiser"
	%p 	Colosses mission is to become the world’s largest open enrollment social appraisal to auction platform.  Our platform will allow any qualified personal property appraiser to join our network and begin doing personal property valuations from home or from any mobile device connected to the internet and will serve consumer’s throughout the USA.  Once appraisals are complete Colosses will seek to assist consumers in moving merchandise to an auction platform of their choice. 

	%p Our appraisal team is currently looking for the following experts: 
	%ol
		%li Personal property appraisers who offer opinions of authenticity 
		%li Subject matter experts on personal property 
		%li Personal property appraisers who write to the standards of USPAP

	%p Expert appraisers are encouraged to join our network and begin doing valuations in the categories you feel most qualified.   Our job is to bring consumers and appraisers to our dynamic/interactive platform where business can be done in a streamlined format. 

	%p Our service offers appraisers 
	%ol
		%li An avenue for additional income generation
		%li The flexibility to work any where as long as you have access to the internet
		%li Monthly distributions into your checking account 
		%li A way to increase visibility of your service through our platform

	%p Signup is easy just start here: Appraiser Signup 
-else
	%p= link_to 'Consumers', how_path(:role => "consumer")
	%p= link_to 'Appraisers', how_path(:role => "appraiser")
