<div class="row">
	<div class="span12">
		<h1>Online Appraisals In 3 Easy Steps</h1>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
	</div>
	<div class="span12"><%= image_tag("bg_mid.png") %></div>
	<div class="span_btn">
		<%= link_to new_user_session_url, :class => "btn btn-primary"  do %><span class="icon-button"></span> Create Appraisal Now<% end %>
	</div>
</div>