.limiting_conditions
	%h1 LIMITING CONDITIONS &amp; CRITICAL ASSUMPTIONS
	%p By David Maloney, ISA,CAPP, President of the Association of Online Appraisers
	%p Perhaps the most-often asked question regarding online appraisals is, "How can you appraise an item that you cannot personally examine?" While it is true that a personal inspection of the property by the appraiser is ideal, often it is not possible. Indeed, even the traditional appraiser is often faced with preparing an appraisal report without having examined the property. Such would be the case if an item had been stolen or lost in a fire. So, appraising property site-unseen is nothing new. The online appraiser, just like traditional appraisers, must recognize that the appraisal assignment is one being done based on "limiting conditions."
	%h2 Limiting Conditions
	%p Limiting conditions are circumstances or conditions that could affect the appraisal development process and, possibly, the appraiser's opinions or analyses. Limiting conditions are often brought about when the property is not available for personal inspection by the appraiser, or by ambient conditions, such as the unavailability of electrical power to test appliances and electronic equipment. The primary limiting condition with online appraisals is that the property is not available for inspection.
	%h2 Extraordinary Assumptions
	%p Limiting conditions will always cause the appraiser to base their value conclusions on extraordinary assumptions which are assumptions, directly related to a specific appraisal assignment, on which the appraiser bases their opinions or conclusions. If false, extraordinary assumptions could cause the appraiser's opinions or conclusions to be in error. Extraordinary assumptions presume as fact otherwise uncertain information about the property such as its composition, or about conditions external to the property, such as market conditions or trends.
	%p As does a traditional appraiser when valuing property that has been lost or stolen, the online appraiser bases value conclusions strictly on client-provided information such as verbal or written descriptions, sketches, photographs, etc. Basing a conclusion on such information requires the appraiser to be adequately satisfied that the information being provided is accurate. For instance, if the client describes a tea service as being made of sterling silver, the appraiser must be sufficiently convinced that the item is, indeed, sterling silver and not silver plate in order to continue with the appraisal assignment.
	%p In order that any user or reader of the online appraiser can be completely knowledgeable of all issues which might have impacted the appraiser's conclusions, it is imperative that any limiting conditions encountered and any extraordinary assumptions considered be well-documented within the appraiser's online appraisal report.
.terms_and_conditions
	= render :partial => "home/terms_and_conditions"
.terms_ebay
	%h1 EBAY LISTING TERMS AND CONDITIONS
	<div>You should read these specific terms and conditions of business set out below carefully as they will form part of a legally binding contract to sell the item if you choose to move your item to through the auction process.</div>

	%h2 1. INTRODUCTION
	%p 
	1.1 The headings in the Terms and Conditions of Business are inserted for convenience only and shall not affect the construction of the agreement. 
	1.2 By submitting a bid the bidder:
	(a) accepts the terms and conditions of business as set out here; and 
	(b) understands they enter into a legally binding contract to purchase the item if they are the winning bidder.
	%h2 2. THE AGREEMENT
	%p 2.1 The Agreement shall consist of these Terms and Conditions of Business. No other document, correspondence or any form communication shall form any part of the agreement unless both parties so agree in writing before the end of the sale
	%h2 3. CATALOGUE DESCRIPTIONS
	%p 3.1 Under the Agreement, Colosses LLC shall provide catalogue descriptions regarding an object submitted by a consigning client. This consists of giving a description of the object with a starting bid which in Colosses LLC opinion could be achieved if the object were to be sold without reserve on the open market at an international auction with a reputable auctioneer after appropriate marketing. Unless otherwise stated in writing, the catalogue description is based upon a physical inspection without cleaning, restoration, or disassembly or further tests and analysis.
	3.2 Colosses LLC shall exercise such reasonable care when making express statements in catalogue descriptions or condition reports as is consistent with its role as auctioneer of items in the sale to which these conditions relate, and in the light of the information provided to it by the seller scholarship and technical knowledge, and the generally accepted opinions of relevant experts, in each case at the time any such express statement is made.
	3.3 Colosses LLC makes no representation or warranty that the object will realize the amount at which it is sold in a contemporaneous or subsequent public or private sale.
	3.4 Colosses LLC does not warrant or represent that the object valued is safe, functioning or fit for the purpose for which it was intended unless otherwise stated.    
	3.5 The Cataloguing may not be used for official or formal purposes such as (without limitation) in legal proceedings, insolvency or bankruptcy proceedings, divorces cases, for insurance purposes, or anything such like.

	%h2 4. WINNING BIDDER’S OBLIGATIONS AND ACKNOWLEDGEMENTS
	%p 4.1 The winning bidder shall arrange to make payment within 3 working days.  4.2 If the winning bidder fails to arrange payment the item will be re-listed, and the appropriate action taken for non-payment.
	%h2 5. PAYMENT METHODS
	%p 5.1 Colosses LLC accepts the following methods of payment: Visa &amp; Master Card Credit/debit Cards; Paypal
	5.2 Accepted currencies are U.S. Dollars
	%h2 6.STORAGE FEES
	%p 6.1 if the winning bidder pays the purchase price, but fails to collect or arrange transportation for the purchased item within ten (10) working days of the auction the item will be stored at the buyers expense (and risk) at the sellers location or at third party.
	6.2 In the event that an auctioned item is sold and the buyer fails to pickup or collect his/her merchandise the seller will conform to the user agreement at: http://pages.ebay.com/help/policies/user-agreement.html
	%h2 7. RIGHTS OF THIRD PARTIES
	%p 7.1 No person who is not a party to the Agreement shall have any rights under the Contracts (Rights of Third Parties) Act 1999 to enforce any term of the Agreement.
	%h2 8. SEVERANCE   
	%p 8.1 In the event that any part of the Agreement should be held to be unenforceable for any reason, that term shall be deemed to be not part of the Agreement, the remaining portions of the Agreement shall remain in full force and effect.
	%h2 9. GOVERNING LAW AND JURISDICTION   
	%p 9.1 The Agreement shall be construed in accordance with California State Law. In the event of disputes hereunder, the parties hereto submit to the exclusive jurisdiction of the California State Courts.
	%h2 10. CONTACT THE COMPANY
	%p 10.1 The Company can be contacted by email at info@colosses.com 
	10.2 Colosses LLC is registered with California Secretary of State 1500 11th Street Sacramento, CA 95814. 
