<p>&nbsp;</p>
<% content = get_cms_content('/appraisal-body-summary-forselling-uspap-compliant-yes')
unless appraisal.nil?
	content = content.gsub("[%created_at%]","#{appraisal.created_at}")
	content = content.gsub("[%created_at%]","#{appraisal.created_at}")
	content = content.gsub("[%assigned_to%]","#{appraisal.assigned_to.name}")
end
%>
<%= raw "#{content}" %>
