<p>&nbsp;</p>
<% page = Cms::Page.find_by_full_path('/appraisal-body-restricteduse-uspap-compliant-no')
content = ""
unless (appraisal.nil? || page.nil?)
	content = page.content.gsub("[%created_at%]","#{appraisal.created_at}")
	content = page.content.gsub("[%created_at%]","#{appraisal.created_at}")
	content = page.content.gsub("[%assigned_to%]","#{appraisal.assigned_to.name}")
end
%>
<%= raw "#{content}" %>
