<style type="text/css">
li {
	color: #878889;
}
</style>
<h3 style="text-align:center;">Non USPAP-Compliant Appraisal Report Body</br>
Restricted Use Format</br>
for personal use of the client only</h3>
<p>This is an online appraisal report prepared on and with the above indicated effective date. This appraisal has been conducted 
on the client's behalf at the request of the appraisal management company, Valuethisnow.com who forwarded me information provided by the client regarding the property that is the subject of this appraisal report. Use of this appraisal report is subject 
to the Terms of Service as listed on the Valuethisnow.com’s web site. </p>
<h5>Restricted Use Report </h5>
<p>This appraisal report is intended for the use of the client and no one else. The appraiser's opinions and conclusions set forth in this report cannot be understood properly by anyone other than the client without knowledge of additional information 
contained in the appraiser's confidential workfile. </p>
<h5>Identity of Client and Other Intended Users </h5>
<p>This report is intended for use only by the client. With the exception of the client, this appraisal report is not intended to be 
used by or influence any particular person(s) or class(es) of persons which might take some action in reliance upon it. I am 
not aware that the client intends to transmit any information contained in this report to any other person(s) or group(s). 
Regardless of who receives a copy of this report, my liability is limited to the client to the exclusion of all others. Parties 
other than the client who take some action in reliance upon this report do so at their own risk. Due to the requirement for 
anonymity, I am unaware of the identity of the client, but assume the client to be a private party. </p>
<h5>Ownership Interest Being Appraised </h5>
<p>The appraised values are based upon an assumed 100% client interest in the property undiminished by any liens, fractional 
interests or any other form of encumbrance. I assume that the client is the sole owner of the property listed in this report; 
however, mere possession of this appraisal report is not an indication or certificate of title or ownership. Ownership and 
ownership interest have been represented to me by the client, and no inquiry or investigation has been made nor is any 
opinion to be given as to the accuracy of such representation.</p>
<h5>Intended Use and Value Type and Definition </h5>
<p>By agreement between the appraisal management company and the client, the scope of work for this appraisal assignment has 
been limited to providing an estimate of fair market value and replacement value (comparable) for the intended private uses 
of personal knowledge, contemplated sale or purchase, or personal planning. This appraisal is invalid if used for any other 
purpose. Opinions of value are in terms of cash.</p>
<p>The definition of Fair Market Value is set forth in Treasury Regulation §1.170A-1(c)(2) which states that the Fair Market 
Value is “The price at which the property would change hands between a willing buyer and a willing seller, neither being 
under any compulsion to buy or to sell and both having reasonable knowledge of relevant facts.” For purposes of this
assignment, fair market value is based on past consummated sales within the auction market, either online or the traditional 
onsite.</p>
<p>As defined by “Appraising Personal Property: Principles &amp; Methodology” (Maloney, Appraisers Press, 2011) 
replacement value (comparable) is the worth of an item based on the amount of money necessary to obtain a 
comparable substitute property that would provide the same enjoyment, usefulness and other rights of ownership as 
did the subject property. Replacement value (comparable) is based on the substitute property's replacement cost
(comparable) which is defined as the amount of money necessary to replace the item being appraised with a 
comparable item of property of like kind, age, quality, and utility having similar wear and tear, obsolescence, and 
value-relevant characteristics as the item being appraised. Replacement cost (comparable) is useful, for instance, 
when estimating replacement value (comparable) for acquiring insurance coverage of items not capable of being 
replaced with a brand new property such as antiques, collectibles, or works of art by a deceased artist.</p>
<h5>Relevant Dates</h5>
Relevant dates associated with this assignment include the following:
<p><ul>
<li>Effective Date of Appraisal: Value opinions are effective as of this date <%= @appraisal.updated_at %></li>
<li>Date of Report: <%= @appraisal.updated_at %></li>
</ul></p>
<h5>Scope of Work</h5>
<p>The scope of work for this assignment included an examination of the digital images and descriptive 
information provided to me by the client. Identification research was later conducted as necessary making use 
of resources such as internet web sites and/or relevant books authored by subject property experts. Value 
research was conducted as necessary making use of relevant market research such as price guides, auction sales 
results, and relevant Internet market data sources. My own past experiences,  knowledge and personal 
observations may have alone formed the basis for my opinion of value. </p>
<h5>Information Analyzed, Approach to Value </h5>
<p>In this assignment, the sales comparison approach to value was employed to determine fair market value as well 
as replacement value (comparable.) In the sales comparison approach, the most appropriate market is researched 
to locate comparable items which have sold in the past. Adjustments in value are made to reflect differences (if 
any) in value relevant characteristics between the comparable properties and the subject properties.</p>
<p>Neither the cost approach to value nor the income approach to value were employed: 
<ul>
<li>The cost approach to value was not used in this assignment. The cost approach makes use of the cost to replace the 
subject property with a brand new property. Since all the appraised items have value-relevant characteristics of age, 
provenance and rarity, they cannot be suitably replaced with a brand new item; therefore, the cost approach to value, 
while considered, was not applied to this assignment. </li>
<li>The income approach to value was not used in this assignment. In the income approach, anticipated future income of
investment property (i.e., income-generating property) is capitalized in order to calculate its present worth. Since the 
subject property is not investment property, the income approach to value, while considered, was not applied to this 
assignment. </li>
</ul>
</p>
<h5>Listings/Offers/Prior Sales </h5>
<p>There are no known current agreements of sale, validated offers or third-party offers to sell, options, or listings of the subject property as of the effective date of the appraisal. There are no known prior sales of the subject property that have occurred within a reasonable time preceding the effective date of this appraisal. </p>
<h5>Assignment Conditions Encountered</h5>
<ul>
	<li>Limiting Conditions: I was unable to personally inspect the subject property</li>
	<li>Extraordinary Assumptions: I made the extraordinary assumptions that the property did exist and that its identity and value-relevant characteristics were as stated by the client. </li>
</ul>
<h5>Certification </h5>
<p>With the below signature I certify that, to the best of my knowledge and belief:</p>
<ul>
</ul>
<li>The statements of fact contained in this report are true and correct.  </li>
<li>The reported analyses, opinions, and conclusions are limited only by the reported assumptions and  limiting conditions and are my personal, impartial, and unbiased professional analyses, opinions, and  conclusions.  </li>
<li>I have no present or prospective interest in the property that is the subject of this report and no personal  interest with respect to the parties involved.  </li>
<li>I have performed no services, as an appraiser or in any other capacity, regarding the property that is the  subject of this report within the three-year period immediately preceding acceptance of this  assignment.   </li>
<li>I have no bias with respect to the property that is the subject of this report or to the parties involved  with this assignment.  </li>
<li>My engagement in this assignment was not contingent upon developing or reporting predetermined  results.  </li>
<li>My compensation for completing this assignment is not contingent upon the development or reporting  of a predetermined value or direction in value that favors the cause of the client, the amount of the  value opinion, the attainment of a stipulated result, or the occurrence of a subsequent event directly  related to the intended use of this appraisal.  </li>
<li>I have not made a personal inspection of the property that is the subject of this report.  </li>
<li>No one provided significant personal property appraisal assistance to the person signing this certification.</li>