<div class='form'>
    <h4>Enter Payment</h4>
    <div class='sub_box clearfix'>
    	<div class='create_appraisal_table_1'>
    		<table width="500" border="0" align="center">
    			<tr><td>
    				<%= render :partial => "form" %>		
    			</td></tr>	
    			<tr><td>&nbsp;</td></tr>		
			</table>
		</div>
	</div>
</div>

