<div class="hidden-xs hidden-sm">
  <span class='st_sharethis_large' st_url="<%= get_url_for_shared_appraisal(appraisal) %>" st_title="Value This Now"></span>
</div>
<div class="visible-xs visible-sm">
  <span class='st_sharethis' st_url="<%= get_url_for_shared_appraisal(appraisal) %>" st_title="Value This Now"></span>
</div>
