<% if @tags.any? %>
  <div class="category">
  <div class="heading">
    <h4>CATEGORIES</h4>
    <%= link_to image_tag("rss.png"), refinery.blog_rss_feed_path, class: "rss" %>
  </div>
  <ul>
      <% @tags.each do |tag| %>
        <li><%= link_to "#{tag.name} (#{tag.count})", refinery.blog_tagged_posts_path(tag.id, tag.name.parameterize) %></li>
  <% end %>
  </ul>
</div>
<% end %>
