<div class="about">
  <div class="heading">
    <h4>About US</h4>
  </div>
  <p>
  ValueThisNow.com  is a new online appraisal platform that has been carefully built to bring you together with professional personal property appraisers and subject matter experts in order for you to learn the value of your antiques and collectibles.
  </p>
  <%= link_to 'Continue Reading', main_app.how_path, class: "btn btn-success" %>
</div>
