<ul class="nav nav-tabs">
  <li <%= css_class_for_active_page(path: tickets_path) %> ><%= link_to "My Tickets", tickets_path %></li>
  <li <%= css_class_for_active_page(path: contact_path) %> ><%= link_to "Contact Support", contact_path %></li>
</ul>
