<% user = User.find(params[:id]) %>
<table>
	<thead>
		<tr>
			<th>Field</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		<% user.appraiser_info.instance_variables.each do |v| %>
		<tr>
			<td><%= v %></td>
			<td><%= user.appraiser_info.instance_variable_get(v) %></td>
		</tr>
		<% end%>
	</tbody>
</table>