!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml",
 'xmlns:og'=>"http://ogp.me/ns#",
      'xmlns:fb'=> "http://www.facebook.com/2008/fbml"}
  %head
    - canonical = "http://" << request.host << request.path
    %link{ :rel=>"canonical",  :href=> canonical  }

    %meta{'property' => 'og:title', :content => "Testy" }
    %meta{'property' => 'og:type', :content => "product" }
    %meta{'property' => 'og:url' , :content => canonical }
    %meta{'property' => 'og:image' , :content => "http://www.aperations.com/rw_common/images/Logo_WIP07.PNG" }

    %meta{'property' => 'og:site_name', :content => "test" }
    %meta{'property' => 'fb:app_id', :content => "205320576165334" }

    - description = "desc"
    %meta{'property' => 'og:description', :content => description   }

    %meta{:name => 'description', :content => description }




    %title Greatwestern/Purex
    = stylesheet_link_tag :all
    = javascript_include_tag "jquery","jquery-ui",:defaults,"builder","lightbox"
    = csrf_meta_tag
  %body
    #banner=image_tag('logo.gif', :size => '100%x80')


    #content
      = yield


